<% layout("/layouts/boilerplate.ejs") %>

    <div class="row">

        <div class="col-8 offset-2">
            <h3>Enter the details of your property</h3>

            <form method="POST" action="/listings" novalidate class="needs-validation">
                <div>
                    <label for="listing[title]" class="form-label">Title</label>
                    <input name="listing[title]" type="text" placeholder="Name of the apartment.." class="form-control"
                        required />
                    <div class="valid-feedback">Looks good</div>
                    <div class="invalid-feedback">This is required</div>
                </div>
                <br>
                <div>
                    <label for="listing[description]" class="form-label">Description</label>
                    <textarea name="listing[description]" type="textarea" class="form-control"
                        placeholder="Hill top, Near beach.." required></textarea>
                    <div class="valid-feedback">Looks good</div>
                    <div class="invalid-feedback">This is required</div>
                </div>
                <br>
                <div>
                    <label for="listing[imageUrl]" class="form-label">Image Link</label>
                    <input name="listing[imageUrl]" type="text" class="form-control" placeholder="https://img.url" />
                    <div class="valid-feedback">Looks good</div>
                    <div class="invalid-feedback">This is required</div>
                </div>

                <br>
                <div class="row">
                    <div class="col-md-4">
                        <label for="listing[price]" class="form-label">Price</label>
                        <input name="listing[price]" type="text" placeholder="1200" class="form-control" required />
                        <div class="valid-feedback">Looks good</div>
                        <div class="invalid-feedback">This is required</div>
                    </div>
                    <br>
                    <div class="col-md-8">
                        <label for="listing[country]" class="form-label">Country</label>
                        <input name="listing[country]" type="text" placeholder="India" class="form-control" required />
                        <div class="valid-feedback">Looks good</div>
                        <div class="invalid-feedback">This is required</div>
                    </div>
                </div>

                <br>
                <div>
                    <label for="listing[location]" class="form-label">Location</label>
                    <input name="listing[location]" type="textarea" class="form-control" placeholder="Varanasi, Uttar Pradesh" required />
                    <div class="valid-feedback">Looks good</div>
                    <div class="invalid-feedback">This is required</div>
                </div>
                <br>
                <button class="btn btn-dark add-btn">Submit..</button>
            </form>
            <br>
            <br>

        </div>
    </div>